[submodule "gosdk"]
	path = gosdk
	url = https://github.com/bizshuk/gosdk.git
[submodule "inf"]
	path = inf
	url = https://github.com/BizShuk/inf.git
[submodule "superset"]
	path = superset
	url = https://github.com/bizshuk/superset.git
