[submodule "architecture"]
	path = architecture
	url = https://github.com/BizShuk/architecture.git
	branch = master
[submodule "feedback"]
	path = feedback
	url = https://github.com/BizShuk/feedback.git
	branch = master
[submodule "gosdk"]
	path = gosdk
	url = https://github.com/BizShuk/gosdk.git
	branch = master
[submodule "identity"]
	path = identity
	url = https://github.com/BizShuk/identity.git
	branch = master
[submodule "inf"]
	path = inf
	url = https://github.com/BizShuk/inf.git
	branch = master
[submodule "n8n"]
	path = n8n
	url = https://github.com/BizShuk/n8n.git
	branch = master
[submodule "rnet"]
	path = rnet
	url = https://github.com/BizShuk/rnet.git
	branch = master
[submodule "superset"]
	path = superset
	url = https://github.com/BizShuk/superset.git
	branch = master
